<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <!--
      <th>Detail</th>
      -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.overview[0, 40] + '...' %></td>
        <!--
        <td><%= note.detail %></td>
        -->
        <td>
          <%= link_to 'Show', note %>
        </td>
        <td>
          <% if current_user.has_role? :admin || note.users[0].id == current_user.id %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <% end %>
        </td>
        <td>
          <% if current_user.has_role? :admin || note.users[0].id == current_user.id %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="nav">
<%= will_paginate @notes, :renderer => BootstrapPagination::Rails %>
</div>

<br>

<%= link_to 'New Note', new_note_path %>
