<p id="notice"><%= notice %></p>

<div class="left-contents">
  <h4>■ノート毎新着</h4><br>
  <div class="notes">
    <% @notes.each do |note| %>
    <div class="note">
      <div class="note-title">
        <%= note.title %>
      </div>
      <div class="note-overview">
        <%= note.overview[0, 100] + '...' %><br>
        <%= link_to 'Show', url_for(controller: :notes, action: :show, id: note.id) %>
        <% if note %>
          <% if current_user && (current_user.has_role?(:admin) || note.user_notes[0].user.id == current_user.id) %>
            |<%= link_to 'Edit', url_for(controller: :notes, action: :edit, id: note.id) %>
          <% end %>
        <% end %>
        <% if note %>
          <% if current_user && (current_user.has_role?(:admin) || note.user_notes[0].user.id == current_user.id) %>
            |<%= link_to 'Delete', url_for(controller: :notes, action: :destroy, id: note.id), data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="nav">
<%= will_paginate @notes, :renderer => BootstrapPagination::Rails %>
</div>

<br>

<%= link_to 'New Note', new_note_path if current_user %>
