<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_pagecomment.user_id %>
</p>

<p>
  <strong>Pagecomment:</strong>
  <%= @user_pagecomment.pagecomment_id %>
</p>

<%= link_to 'Edit', edit_user_pagecomment_path(@user_pagecomment) %> |
<%= link_to 'Back', user_pagecomments_path %>
