■ブックマーク<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.note.title %></td>
        <td><%= bookmark.note.overview[0, 40] + '...' %></td>
        <td>
          <% if bookmark.note %>
          <%= link_to 'Show', url_for(controller: :notes, action: :show, id: bookmark.note.id) %>
          <% end %>
        </td>
        <td>
          <% if bookmark.note %>
          <% if current_user && (current_user.has_role?(:admin) || bookmark.note.user_notes[0].user.id == current_user.id) %>
          <%= link_to 'Edit', url_for(controller: :notes, action: :edit, id: bookmark.note.id) %>
          <% end %>
          <% end %>
        </td>
        <td>
          <% if bookmark.note %>
          <% if current_user && (current_user.has_role?(:admin) || bookmark.note.user_notes[0].user.id == current_user.id) %>
          <%= link_to 'Delete', url_for(controller: :notes, action: :destroy, id: bookmark.note.id), data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
