<%
user = current_user
%>
<div class="user_profile">
  <div class="id">
    id:<%=current_user.id %>
  </div>
  <div class="name">
    username:
    <% if current_user.user_profile %>
      <%=link_to(current_user.username , url_for(controller: "user_profiles", action: :show, id: current_user.user_profile.id)) %>
    <% else %>
      <%=current_user.username %>
    <% end %>
  </div>
  <% if current_user.user_profile %>
  <div class="profile">
    name:<%=current_user.user_profile.first_name %> <%=current_user.user_profile.last_name %><br>
    <%=@prefs[current_user.user_profile.pref_code] %><br>
  </div>
  <% end %>
</div>
■ブックマーク<br>
<% @bookmarks.each do |bookmark| %>
  <% if bookmark.note %>
  <%= link_to bookmark.note.title, url_for(controller: :notes, action: :show, id: bookmark.note.id) %>&#32;
  <% end %>
<% end %>
