<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <!--
      <th>Detail</th>
      -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.overview[0, 40] + '...' %></td>
        <!--
        <td><%= page.detail %></td>
        -->
        <td><%= link_to 'Show', page %></td>
        <td>
          <%= link_to 'Edit', edit_page_path(page) %>
        </td>
        <td>
          <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="nav">
<%= link_to 'New Page', new_page_path, :renderer => BootstrapPagination::Rails %>
</div>