<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Overview:</strong>
  <%= simple_format @page.overview %>
</p>

<p>
  <strong>Detail:</strong>
  <%= simple_format @page.detail %>
</p>
<!--Page Comment Start-->
<% if current_user %>
<%= form_with(model: @pagecomment , local: true) do |form| %>
  <% if @pagecomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagecomment.errors.count, "error") %> prohibited this pagecomment from being saved:</h2>

      <ul>
      <% @pagecomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "title" %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, class: "comment_detail" %>
  </div>

  <div class="actions">
    <% @pagecomment.user_pagecomments.each do |user_pagecomments| %>
      <%= form.fields_for :user_pagecomments, user_pagecomments do | user_pagecomments| %>
        <%= user_pagecomments.hidden_field :user_id %>
      <% end %>
    <% end %>
    <% @pagecomment.pagecomment_pages.each do |pagecomment_pages| %>
      <%= form.fields_for :pagecomment_pages, pagecomment_pages do | pagecomment_pages| %>
        <%= pagecomment_pages.hidden_field :page_id %>
      <% end %>
    <% end %>
    <%= form.submit %>
  </div>
<% end %>
<% end %>

<div>
  <% @page.pagecomments.paginate(page: params[:page], per_page: APP_CONFIG["pagenate_count"]["pages"]).each do |pagecomment| %>
    <div class="page_row">
      <div style="float: left;width: 600px;">
        <div style="font-size: 20px; float: left;">
          <%=pagecomment.title %>
        </div>
        <div style="font-size: 10px; float: left;">
          <%=pagecomment.created_at %>
        </div>
      </div>
      <div style="width: 600px;">
        <%= simple_format pagecomment.detail %>
      </div>
    </div>
  <% end %>
</div>
<!--Page Comment End-->
<div class="nav">
<%= will_paginate @page.pagecomments.paginate(page: params[:page], per_page: APP_CONFIG["pagenate_count"]["pages"]), :renderer => BootstrapPagination::Rails %>
</div>


<% if current_user && @page.users[0].id == current_user.id %>
<%= link_to 'Edit', url_for(controller: :pages, action: :edit, id: @page.id, note_id: @page.note_pages[0].page_id) %>|
<% end %>
<%= link_to 'Back', url_for(controller: :notes, action: :show, id: @page.note_pages[0].note_id) %>
