<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id %>

  <div class="field">
    <%= form.label :first_name, {class: 'form_label'} %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, {class: 'form_label'} %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :profile_photo, {class: 'form_label'} %>
    <%= form.file_field :profile_photo %>
  </div>
  
  <div class="field">
    <%= form.label :pref_code, {class: 'form_label'} %>
    <%= form.select :pref_code, @prefs.invert %>
  </div>

  <div class="field">
    <%= form.label :postal_code, {class: 'form_label'} %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address, {class: 'form_label'} %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :self_introduction, {class: 'form_label'} %>
    <%= form.text_area :self_introduction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
