<p id="notice"><%= notice %></p>

<h1>User Profiles</h1>
<div class="user_list">
  <hr>
  <% @users.each do |user| %>
    <div class="user_profile">
      <div class="id">
        id:<%=user.id %>
      </div>
      <div class="name">
        username:
        <% if user.user_profile %>
          <%=link_to user.username , url_for(controller: "user_profiles", action: :show, id: user.user_profile.id) %>
        <% else %>
          <%=user.username %>
        <% end %>
      </div>
      <% if user.user_profile %>
      <div class="profile">
        name:<%=user.user_profile.first_name %> <%=user.user_profile.last_name %><br>
        <%=@prefs[user.user_profile.pref_code] %><br>
      </div>
      <% end %>
    </div>
  <hr>
  <% end %>
</div>

<div class="nav">
<%= will_paginate @users, :renderer => BootstrapPagination::Rails %>
</div>
<br>
