<br>
  <table>
    <tbody>
      <tr>
        <td colspan="2">
          <%= image_tag @profile_photo.to_s %><br>
        </td>
      </tr>
      <tr>
        <td>
          氏名
        </td>
        <td>
          <%= @user_profile.first_name %> <%= @user_profile.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          住所
        </td>
        <td>
          〒<%= @user_profile.postal_code %><br>
          <%= @prefs[@user_profile.pref_code] %> <%= @user_profile.address %>
        </td>
      </tr>
      <tr>
        <td>
          自己紹介
        </td>
        <td>
          <%= @user_profile.self_introduction %>
        </td>
      </tr>
    </tbody>
  </table>
<br>
<%= link_to 'Back to Top', root_path %> |
<%= link_to 'Back', user_profiles_path %> |
<%= link_to 'Edit', edit_user_profile_path(@user_profile) if current_user.present? && @user_profile.user_id == current_user.id %>
