<p id="notice"><%= notice %></p>

<h1>User Pages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_pages.each do |user_page| %>
      <tr>
        <td><%= user_page.user_id %></td>
        <td><%= user_page.page_id %></td>
        <td><%= link_to 'Show', user_page %></td>
        <td><%= link_to 'Edit', edit_user_page_path(user_page) %></td>
        <td><%= link_to 'Destroy', user_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Page', new_user_page_path %>
