<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_page.user_id %>
</p>

<p>
  <strong>Page:</strong>
  <%= @user_page.page_id %>
</p>

<%= link_to 'Edit', edit_user_page_path(@user_page) %> |
<%= link_to 'Back', user_pages_path %>
