<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @note_page.note_id %>
</p>

<p>
  <strong>Page:</strong>
  <%= @note_page.page_id %>
</p>

<%= link_to 'Edit', edit_note_page_path(@note_page) %> |
<%= link_to 'Back', note_pages_path %>
