<!DOCTYPE html>
<html lang="ja" xml:lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8" />
<meta name="description" content="<%=@description %>" />
<!-- ogp -->
<meta property="og:site_name" content="CELAENO.SITE" />
<meta property="og:locale" content="ja_JP">
<meta property="og:image" content="logo.png" />
<meta property="og:image:width" content="645" />
<meta property="og:image:height" content="395" /><meta property="og:type" content="article" />
<meta property="og:url" content="<%=request.url %>" />
<meta property="og:title" content="<%=@content_title%>" />
<meta property="og:description" content="<%=@content_overview %>" />
<meta property="article:publisher" content="https://www.celaeno.site/" />
<meta property="article:author" content="https://www.celaeno.site/">
<!-- /ogp -->
<title>Celaeno Library <%= @title if @title %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="document_root">
  <div class="header">
    <div class="site_title">
      <a href="/">
        Celaeno Library
      </a>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        メニュー
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Edit Profile', edit_user_profile_path(current_user.user_profile) if current_user.user_profile %>
          <%= link_to 'Regist Profile', new_user_profile_path unless current_user.user_profile %>
        </li>
        <li>
          <%= link_to 'Edit Setting', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <!-- body -->
  <div class="body">
    <!-- nav-tabs -->
    <div class="nav nav-tabs">
      <ul>
        <li class="<%=@active[:top] %>">
          <%= link_to 'Top', root_path %>
        </li>
        <li class="<%=@active[:notes] %>">
          <%= link_to 'Notes', notes_path %>
        </li>
        <li class="<%=@active[:categories] %>">
          <%= link_to 'Categories', categories_path %>
        </li>
        <li class="<%=@active[:tags] %>">
          <%= link_to 'Tags', tags_path %>
        </li>
        <li class="<%=@active[:user_profiles] %>">
          <%= link_to 'User Profiles', user_profiles_path %>
        </li>
        <% if user_signed_in? %>
        <li class="<%=@active[:home] %>">
          <%= link_to 'Home', home_index_path %>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /nav-tabs -->
    <!-- contents -->
    <div class="contents">
<%= yield %>
    </div>
    <!-- /contents -->
  </div>
  <!-- /body -->
  <div class="footer">
    Celaeno.com Since 2018
  </div>
</div>
</body>
</html>
